In [90]:
#import my libraries
import pandas as pd
import numpy as np

In [91]:
#set the path to the files
school_path = "Resources/schools_complete.csv"
students_path ="Resources/students_complete.csv"

#reading the data of the files
school_data = pd.read_csv(school_path)
students_data = pd.read_csv(students_path)

In [92]:
#head of the files
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [93]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [94]:
#merging the files into one by "school_name"
combined_data = pd.merge(students_data, school_data, how="left", on=["school_name", "school_name"])
combined_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [95]:
#total number of unique schools
unique_schools = len(combined_data["school_name"].unique())
unique_schools

15

In [96]:
#total number of alumns
total_alumns = combined_data["student_name"].count()
total_alumns

39170

In [119]:
#total budget by school
total_budget = school_data["budget"].sum()
total_budget

24649428

In [120]:
#average math score
average_math_score = combined_data["math_score"].mean()
average_math_score

78.98537145774827

In [121]:
#average reading score
average_reading_score = combined_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [122]:
#% passing math (the percentage of students who passed math)
passing_math_count = combined_data[(combined_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_alumns) * 100
passing_math_percentage

74.9808526933878

In [123]:
#passing reading (the percentage of students who passed reading)
passing_reading_count = combined_data[(combined_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_alumns) * 100
passing_reading_percentage

85.80546336482001

In [124]:
#% overall passing (the percentage of students who passed math AND reading)
total_passing_alumns = combined_data[(combined_data["reading_score"] >= 70) & (combined_data["math_score"] >= 70)].count()["student_name"]
total_passing_percentage = total_passing_alumns / float(total_alumns) * 100
total_passing_percentage

65.17232575950983

In [133]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({ "Total Schools" : [unique_schools],
                                 "Total Alumns" : [total_alumns],
                                 "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                               "%Overall Passing": [total_passing_percentage],
                                })

# Formatting
district_summary["Total Alumns"] = district_summary["Total Alumns"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Alumns,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326